<p data-hook="admin_product_form_stores" class="omega two columns">
  <div><%= f.label :stores, Spree.t(:stores)%></div>
  <%=  %>
  <% Spree::Store.all.each do |store| %>
    <div>
        <% if @product.stores.count > 0 %>
            <%= check_box_tag "product[store_ids][]", store.id, @product.stores.include?(store) %> <%= store.name %>
        <% else %>
            <%= check_box_tag "product[store_ids][]", store.id, :checked => true %> <%= store.name %>
        <% end %>
    </div>
  <% end %>
</p>